@import '../Variables/Variables.scss';

// back to top

#button {
    display: inline-block;
    background-color: $color-white;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 0;
    border-radius: 0;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  
    &::after {
      content: "";
      position: absolute;
      left: 13px;
      z-index: 11;
      display: block;
      width: 25px;
      height: 25px;
      border-top: 2px solid $primary-color;
      border-left: 2px solid $primary-color;
      top: 20px;
      transform: rotate(45deg);
    }
  
    &:focus {
      outline: 0;
    }

    &:hover {
      cursor: pointer;
      background-color:$primary-color;
    
      &::after {
        border-top: 2px solid $color-white;
        border-left: 2px solid $color-white;
      }
    }

    &:active {
        background-color:$primary-color;
        border: 0;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }

    
}
  

